<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>593878141218-ak3ujhdsls0p9q4g6rahr9j99d28o5nf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.593878141218-ak3ujhdsls0p9q4g6rahr9j99d28o5nf</string>
	<key>API_KEY</key>
	<string>AIzaSyBC-tKzhVIFQVyAMAwsWWF-VsEfmghfKPg</string>
	<key>GCM_SENDER_ID</key>
	<string>593878141218</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.steamhouse.tcs</string>
	<key>PROJECT_ID</key>
	<string>steamhouse-c75d4</string>
	<key>STORAGE_BUCKET</key>
	<string>steamhouse-c75d4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:593878141218:ios:5d852dda84a6def83f3d7b</string>
</dict>
</plist>